@font-face {
    font-family: 'Self Deception';
    font-style: normal;
    font-weight: 400;
    src: local('Self Deception'), url('https://fonts.cdnfonts.com/s/30732/Self Deception - TTF.woff') format('woff');
}


